*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-color: var(--secondary);
}

html,
body {
    font-family: var(--font);
    color: var(--very-dark-blue);
    background-color: var(--background);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: var(--grey-dark);
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;

    &:hover:not(.link_btn),
    &:focus-visible:not(.link_btn) {
        color: var(--grey-dark-hover);
    }

    &:active:not(.link_btn) {
        color: var(--grey-dark-active);
    }
}

.link_btn {
    padding: 0.5em 1.25em;
    color: var(--background);
    background-color: var(--primary);
    border-radius: 2em;

    &:hover,
    &:focus-visible {
        background-color: var(--primary-hover);
    }

    &:active {
        background-color: var(--primary-active);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--foreground);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    background-clip: content-box;
    border-radius: 0.5em;

    &:hover {
        background-color: var(--secondary-hover);
    }

    &:active {
        background-color: var(--secondary-active);
    }
}
