@use "../../scss/abstract/screen-queries.scss" as *;

.layout {
    p {
        color: var(--grey-dark);
    }

    & > p {
        margin-top: 0.5rem;
        font-size: 1.125rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    /* stylelint-disable-next-line order/order */

    @include respond-phone {
        h2 {
            font-size: 1.875rem;
            line-height: 3rem;
        }
    }
}
