@use "../../scss/abstract/screen-queries.scss" as *;
@use "../../scss/abstract/mixins.scss" as *;

.footer {
    color: var(--background);
    background-color: var(--very-dark-violet);

    .content {
        @include flex($direction: row, $justify: space-between, $gap: 1.5rem);
        @include max-width;

        padding: 4rem 10rem;

        .logo {
            filter: brightness(0) invert(100%);
        }

        .list {
            @include flex($direction: row, $gap: 4rem);

            .links {
                @include flex($gap: 1rem);

                ul {
                    @include flex($gap: 0.5rem);

                    list-style: none;
                }
            }
        }

        .icon_list {
            @include flex($direction: row, $gap: 2rem);
        }

        /* stylelint-disable-next-line order/order */
        @include respond-tablet-landscape {
            padding: 2.5rem 5rem;
        }
        @include respond-tablet {
            padding: 2.5rem 2rem;
        }
        @include respond-phone {
            @include flex($align: center, $gap: 2rem);

            text-align: center;

            .list {
                @include flex($align: center, $gap: 2rem);

                .links {
                    align-items: center;

                    ul {
                        align-items: center;
                    }
                }
            }
        }
    }
}
