@use "../../scss/abstract/screen-queries.scss" as *;
@use "../../scss/abstract/mixins" as *;

.boost {
    background-color: var(--secondary);
    background-image: url("../../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-position: right top;

    .content {
        @include flex($align: center, $gap: 1rem);
        @include max-width;

        text-align: center;

        h2 {
            color: var(--background);
        }

        a {
            display: inline-block;
            font-size: 1.25rem;
        }
    }

    /* stylelint-disable-next-line order/order */
    @include respond-phone {
        background-image: url("../../images/bg-boost-mobile.svg");
        background-position: center;
        background-size: cover;
    }
}
